# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.cs text diff=csharp
*.ts text diff=typescript
*.js text diff=javascript
*.html text diff=html
*.css text diff=css
*.json text diff=json
*.md text diff=markdown

# Deny all files that look like they may be binary
*.dll binary
*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
